@keyframes header-color-animation {
  0% {
    color: darkgrey;
  }

  10% {
    color: darkseagreen;
  }

  20% {
    color: gainsboro;
  }

  30% {
    color: indianred;
  }

  40% {
    color: khaki;
  }

  50% {
    color: lavender;
  }

  60% {
    color: lightblue;
  }

  70% {
    color: lightpink;
  }

  80% {
    color: paleturquoise;
  }

  90% {
    color: peachpuff;
  }

  100% {
    color: plum;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: thistle;
  font-family: 'Finger Paint', cursive;
}

body {
  box-sizing: border-box;
}

.screen-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

@media only screen and (min-width: 900px) {
  .screen-center {
    height: 100vh;
  }
}

.tetris {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .tetris {
    justify-content: center;
  }
}

.tetris__header {
  font-size: 3rem;
  margin: 1rem 0;
  color: darkgrey;

  animation: header-color-animation 30s ease-in-out infinite alternate;
}

.tetris__game-field {
  display: flex;
}

.main-grid {
  display: flex;
  flex-wrap: wrap;
  width: 55vw;
  height: 110vw;
  background-color: rgba(122, 255, 200, .3);
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .15);
}

@media only screen and (min-width: 900px) {
  .main-grid {
    width: 20rem;
    height: 40rem;
  }
}

.main-grid__cell {
  height: 5.5vw;
  width: 5.5vw;
  box-shadow: inset 0 0 0 .1rem rgba(0, 0, 0, .025);
}

@media only screen and (min-width: 900px) {
  .main-grid__cell {
    width: 2rem;
    height: 2rem;
  }
}

.main-grid__frozen {
  box-shadow: none;
  opacity: .7;
  height: 5.5vw;
  width: 5.5vw;
  background-color: rgb(179, 157, 179);
  box-shadow: inset 0 0 0 .5rem rgba(0, 0, 0, .1);
}

@media only screen and (min-width: 900px) {
  .main-grid__frozen {
    width: 2rem;
    height: 2rem;
  }
}

.tetris__info {
  display: flex;
  width: 40vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (min-width: 900px) {
  .tetris__info {
    width: 15rem;
  }
}

.tetris__score {
  font-size: 2rem;
  color: bisque;
}

.tetris__highscore {
  font-size: 1.4rem;
  color: bisque;
}

.tetris__start-button {
  display: inline-block;
  width: 80%;
  padding: .5rem 0;
  font-size: 2rem;
  color: darkgrey;
  background-color: rgba(255, 223, 223, .7);

  border: none;
  font-family: inherit;
}

@media only screen and (min-width: 900px) {
  .tetris__start-button {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    transition: all .2s;
  }

  .tetris__start-button:hover,
  .tetris__start-button:focus {
    background-color: rgb(252, 210, 210);
    color: rgb(255, 245, 245);
    outline: none;
    box-shadow: 0 0 1.4rem rgba(0, 0, 0, .3);
    transform: scale(1.02);
  }

  .tetris__start-button:active {
    color: rgb(255, 245, 245);
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .15);
    transform: scale(1);
  }
}

.clue-grid {
  width: 25vw;
  height: 25vw;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(122, 255, 200, .3);
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .15);
}

@media only screen and (min-width: 900px) {
  .clue-grid {
    width: 10rem;
    height: 10rem;
  }
}

.clue-grid__cell {
  height: 5vw;
  width: 5vw;
  box-shadow: inset 0 0 0 .1rem rgba(0, 0, 0, .025);
}

@media only screen and (min-width: 900px) {
  .clue-grid__cell {
    width: 2rem;
    height: 2rem;
  }
}

.tetromino {
  background-color: rgb(255, 208, 0);
  box-shadow: inset 0 0 0 .5rem rgba(0, 0, 0, .1);
}

.main-grid .tetromino-frozen {
  background-color: rgba(122, 255, 200, .5);
  box-shadow: inset 0 0 0 .5rem rgba(0, 0, 0, .1);
}

.mobile-controls {
  display: flex;
  width: 95%;
  height: 20%;
  margin-top: 10vw;
  background-color: rgba(255, 255, 255, 0.2);
  flex-wrap: wrap;
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 238, 231);
  text-transform: uppercase;
}

@media only screen and (min-width: 900px) {
  .mobile-controls {
    display: none;
  }
}

.mobile-controls div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 .5rem rgba(255, 255, 255, 0.25);
}

.mobile-controls__rotate {
  width: 100%;
}

.mobile-controls__left {
  width: 33.33333333333333%;
}

.mobile-controls__down {
  width: 33.33333333333333%;
}

.mobile-controls__right {
  width: 33.33333333333333%;
}

.mobile-controls__rotate:active,
.mobile-controls__left:active,
.mobile-controls__down:active,
.mobile-controls__right:active {
  background-color: rgba(255, 255, 255, 0.5);
}